<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="zhu波比"/>
    <title>欢迎！</title>
    <th:block th:include="base :: header"/>
    <style>
        #left{
            float: left;
            height: 100%;
            width: 440px;
        }
        #right{
            float: right;
            height: 100%;
            width: 440px;
        }
        #middle{
            margin: 0 210px;
            height: 100%;
            width:auto;
        }
    </style>
</head>
<body id="body">
<div class="container">
    <nav th:replace="base :: navbar"></nav>
    <div th:replace="base :: netName"></div>
    <div style="height: 1000px;width:100%;">
        <div id="left">
        </div>
        <div id="right">

        </div>
        <div id="middle">
        </div>
    </div>

    <div th:replace="base :: foot"></div>
</div>
<footer>
        <p>波比国际</p>
</footer>
</body>
</html>